phidata
openai
python-environ
langchain_experimental
langchain_openai
langchain_ollama
langchain_qdrant
langchain_huggingface
pypdf
unstructured
python-pptx
sentence_transformers
qdrant_client
discord